# Discord
DISCORD_BOT_TOKEN = DISCORD BOT TOKEN GOES HERE
DISCORD_PERMISSION_INTEGER = 137439235136 <- PLACEHOLDER CAUSE IDK WHEN I'LL NEED THIS
# Twitch
TWITCH_CLIENT_ID = CLIENT ID GOES HERE
TWITCH_CLIENT_SECRET = CLIENT SECRET GOES HERE
